body {
    margin: 0;
    padding: 0;
}

::-moz-selection,
::selection {
    background:#eb3512;
    color:#fff;
}

#banner {
    background: #eb3512;
    background: -moz-linear-gradient(top, #eb3512 0%, #c11000 100%); 
    background: -webkit-linear-gradient(top, #eb3512 0%,#c11000 100%);
    background: -ms-linear-gradient(top, #eb3512 0%,#c11000 100%);
    background: linear-gradient(top, #eb3512 0%,#c11000 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eb3512', EndColorStr='#c11000')";
    border-bottom: 1px solid #9C0C1E;
    color: #fff;
    position: relative;
}

#banner img {
    margin: 20px 0 8px 15px;
}

#breadcrumbs {
    font-size: small;
}

.breadcrumb {
    padding: 2px 15px;
}

h1, h2 {
    border-bottom: 2px solid #EE3424;
}

body.topBarDisabled {
    padding: 0;
}

.nav-header {
    color: #4E4E4E;
    border-bottom: 1px solid #AAA;
}

.container-fluid {
    padding: 0px;
}

.sidebar-nav {
    margin-left: 10px;
}

#bodyColumn .section {
    margin-right: 10px;
}

a.nolink {
    text-decoration: none;
    color: black;
}

table thead tr th {
    background-color: #6E7F93;
    color: #fff;
}