# CODEOWNERS file defines the users/teams that are able to approve pull requests.
# These owners will be the default owners for everything on this repo.
# https://github.com/HotelsDotCom/bull

* @HotelsDotCom/bull-committers borriello.fabio@gmail.com

# Only some members of Customer Insights can alter the CODEOWNERS file
.github/CODEOWNERS borriello.fabio@gmail.com @HotelsDotCom/bull-admin