language: java
cache:
  directories:
  - "~/.m2/repository"
jdk: oraclejdk11
env:
  global:
  # Sonatype jira info
  - secure: nawOdRhJ1DX86SZhcS5JeHncU049DVvlG3m7OHkHrldwbL+jOIHCzjl7wBL0LnqdwqFXbntfPLnigLQFZ1eFNgXVesZKDQbyzazGF3nZoJWSIGtuAt0GbORxyzW96TwowE1AP4og0FLpdCCwQJ1cRjTiaPnZFl6yJ2gwdaQBmf50IH+WrEWvkphd2feB8uqSv0GgKtVCwJnBwhHrPQrE2DAuA98lSDGhWJYASdRRVJ8NXJ+1CtvCTUacaEiiRev7JK15Wz7HS3GGyDdcxg9mBoYFs2HhOn0nXMiZqa66VbVSJWGroCve4qngri7DnBzeeJUguuBKQzHOYtfbyNgxyxlQrT6PKxs7YBcfMCcszR6vTlI3qb6tsMS6BWyLvGOgJNRoGa1iw/+Uc1hKBOf+Wtq4q4EeJ27c6i4pv4aVCTEP26rvT/CYXi05wTYkH0PtZaPuKpCqZgp+kIAo2LpdrhMXf6QbsBCWP0431T7r+d79f//D/IBr4S00iQBukPxU4shujCdbsKIet7hBcAhjbGUkx1odMNiaSn2JTs3KJTYq2adK5zC5ufkK+rTDCAgaYeuMIgZwuSopNpXTAV17OavJQ2v+iP/3+lINpKI7kHuT3qYF0rFyTX0ZBApZE9XMscozuLWKW3aIlqvuiPPULPY1mZHBPBHc/LPG3GlNXeg=
  - secure: OqOKGAvbqC1uQurrPAVknHxSZKzgcXoKPXvgJMPcito2PFe3jRZuCXWWDAPnEPNjtH/O/jC37Ne07VQBq3KJ3d83WPniC+d6MXwsh4cP9tvIGT0cwAB+iEv+BkAkTHAGVDqdDYUJCJfvq+XMDujpR7ijNKt9HbSu3BPMUZlNovmY7WL+4Ei+KTj2bi/5jb8SkBKqGEpvL245r5w9+/NUPY7ifY0F+c8elvtJ44U65BSvBBw9LFrzYvcS812e1L5iRswTDGbqcXCaqVsP21S+SsjXBmtFsy2IVutmGnTEfLSZ5Y9JbR96ux/49YfBp3FRDwqIwztm4Y4cTij1J5dC/bpCAElOPhFaRk/luGHr44Sz90ZxqsqDH1XSmjDNNlpxUHSg9bhuZRqdseomokFHR9mGKxGBQYe5+MyciyGM/9AmTW87FdqNuNKNpJvhBuaPoJR1IqVmCgPYfOEyKHbPNapr42NgrmnXnDQvGjCcuEbk1WSTHe0Mp8n+0FVlk2cRSwd5juniOz4k9FKeTp8CCqQz3XR+x811z7HUMROSg6IKIA/XC35HIqfAGYfqUXktWobGiTbyngoBE4feTqtCHtoZAEcuzlWtGmTlVGm4ELJJ8pf6hhjWCihFeY62XNAcPeAUg8o5WE9MQV32rjCHVE2AW0iV6UWRh8XJwUFCX/I=
  # GPG_KEYNAME
  - secure: VGoLyHHb4exm8mw1OSS+zUWGqxcDOx9F2GF5q7TKr5uiqhMkBCz1Y4hTgBakYWfJLdhQl8F/UkUpjqVPN6NHz3q87aLeZtc5GB9D+kXhTuoMIZ34p0U5HEk63v06VvfmoMUfahEVZVeb3RWUAQGuliGokyiMRS3u4hK9UDTx91x4RRx/83pHn4o6NRAzIXyOoQIYwuLbCIleNVe35Ok2LKdk7NQ2i+nDVLdnjeuHWoF27R33CeiRRV+GvF7aJRksqKwPPS63nn6aGtEmlzemyYbiwDZ1wQbf9nuSZLaU78unTGq6qyVrYbpxegWHclPsM5EKxO34uqi3m0GLRuy/W+u0R9dRaCMk4aEPmz56ClDPrmjssMXn+pyumsKU4932aVA1Q/IP14H19P/3eH2FvJLnO00eGdKgqvVRbomOyRqlRWCI/mUsR0aAr+Go+32Orf88v79EAT0WmXBYgGiJR7d2Ig7YZxY5KnM+rto59J9tZbWQJRYr+jkw5W8dPTMVQ+a4T6kGcOR4e54KIqkW1BVa/I+aaiZSP0BrIGEbk2b1UmoYGOuxOBjs0ESDHaj6KFQK026WAoedQ/bYa8J+j7JRIg/ivlvH5eycXSFTXLt4Qym/iZ8SOnJr1mWTF4xCaOmyUBqSHS2tOPJiGuNdRpFep8QT9vBEXpej2yOLyDA=
  # GPG_PASSPHRASE
  - secure: bFylqtr43v1wetXH/b1RJDmsDzwn6ILfFnw0rVFVKdpYndoyL3J05A3qYdZ+K1cePP7cYnetfOlMnv/e1LDGSzQ/C2RmPgEZIPRozxg0t9S+QU/G+Ro5m1VhrEDOpJv2A7IxY7WBgWEhChIKTZlDK4c2rzXDJ/Z799QQRmiOu04zGVBUjPcbU01QlFF71e3Vf5sovBPSWPifmqyKHZPquqXbY5Jo36MDAO5b3aD/rk/6nkzB+b10fAEJ/9sXX14S0ItTc7CWkjGdqjMsu9lMYUZ8Au2YgBtGAU3XBG30+uhKk7Z2XZj8Ne9QJhPbzzt53bB0loa8pQ+k6NGcCPRoTZOI3tAKKPxXf1sRolE3gYmje1GcREvsXRnZbwfZuayCOBdEXFFZzmijz/H5UgNS5rUwrY+FH6Dl4AZsQvDJdC4nJ4IVo6knRM4yx4ooI47tJBLLQS5cFOTmpYnQdZZLr5s4EPRhFpqSa61a2ZoBzTDl4Jj3M/zZ9xtIajYEdYSZ/wGpErsA/KJbHnP32lukTVG86Ndh4E2xLVVo1U5iwTZA6EsvarHKvEqLGtOYMyC2TqxuTlgzsfuGkonAlj9jx8I51Hjc5NMuamqWl4uLY2nC2BpTY1Gaufb0AJkTfp0W1/yPxaS2SGYo18UDobOGQfDniEe4CiVUkpACj0Jq7kY=
install: skip
jobs:
  include:
    # If the branch is not master it just builds the application
    - stage: "Build"
      name: "Build and Test"
      install: travis_retry mvn clean install
    - stage: "Site Build and Quality check"
      name: "Publishing site and performing a code quality check"
      if: type NOT IN (pull_request) AND tag IS present
      before_deploy:
        - mvn versions:set -D newVersion=${TRAVIS_TAG}
        - travis_retry mvn install sonar:sonar -Dmaven.javadoc.skip=true -Dsonar.projectKey=${sonar_project_key} -Dsonar.organization=${sonar_organization} -Dsonar.host.url=${sonar_host_url} -Dsonar.login=${sonar_token} site:site -Dmaven.test.skip=true -B
      deploy:
        provider: pages
        local-dir: target/site
        skip-cleanup: true
        github-token: ${github_oauth_token}
        keep-history: true
        on:
          tags: true
    - stage: "Release"
      name: "Releasing artifacts"
      if: type NOT IN (pull_request) AND tag IS present
      install: skip
      after_deploy: skip
      before_script:
        - openssl aes-256-cbc -K $encrypted_bbb0f94c13c1_key -iv $encrypted_bbb0f94c13c1_iv -in config/travis/private-key.gpg.enc -out config/travis/private-key.gpg -d
        - mvn versions:set -D newVersion=${TRAVIS_TAG}
        - mvn install -DskipTests -Dmaven.test.skip=true javadoc:aggregate
        - mvn install -DskipTests -Dmaven.test.skip=true -P prepare-doc
      deploy:
        - provider: script
          script: config/travis/deploy.sh
          skip_cleanup: true
          on:
            tags: true
notifications:
  slack:
    rooms:
      - bull-crew:hTuN6VsJod6aUOU6FWIFiQca
    on_failure: change
    on_success: change
    on_pull_requests: true