lombok.addLombokGeneratedAnnotation=true
lombok.anyConstructor.addConstructorProperties=true
config.stopBubbling=true
# Copy the Qualifier annotation from the instance variables to the constructor
# see https://github.com/rzwitserloot/lombok/issues/745
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Qualifier